<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">


<div class="card" style="width:80%;margin-left:143px;margin-top:50px;">
  <div class="card-header" style="text-align:center;font-size:40px;">
    Steel Fault Detection Tool
  </div>
  <div class="card-body">
     <form action="/steelfault" method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <legend class="col-form-label col-sm-2 pt-0">Upload data file</legend>
            <div class="col-sm-10">
                <input type="file" class="form-control-file" id="file" name="file">
            </div>
        </div><br/><br/>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Choose Classifier</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="classifier" id="gridRadios1" value="1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Random Forest
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="classifier" id="gridRadios2" value="2">
                        <label class="form-check-label" for="gridRadios2">
                          K-Nearest Neighbour
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="classifier" id="gridRadios3" value="3">
                        <label class="form-check-label" for="gridRadios3">
                            Support Vector Machine
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="classifier" id="gridRadios4" value="4">
                        <label class="form-check-label" for="gridRadios3">
                            Logistic Regression
                        </label>
                    </div>
                </div>
            </div>

        </fieldset><br/>
       <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success"><strong>Evaluate</strong></button>
            </div>
       </div>
    </form>
  </div>
</div>




