<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">



<div class="card" style="width:80%;margin-left:143px;margin-top:50px;">
  <div class="card-header" style="text-align:center;font-size:40px;">
    Steel Fault Detection Tool
  </div>
  <div class="card-body">
     <form action="/app">
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Classifier</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="classifier" value='{{classifier}}'>
            </div>
         </div>
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Test Data point</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="datapoint" value='{{datapoint}}'>
            </div>
         </div>
        <img  src="{{ url_for('static', filename = 'graph_2.png') }}" style="width: 585px;height: 321px;margin-left:-19px;">
         <div style=" margin-top: -279px;margin-left: 628px;">
             {% for table in tables %}
             {{ table|safe }}
            {% endfor %}

         </div>
        <div class="form-group row" style="margin-top:134px;">
            <label class="col-sm-2 col-form-label">Accuracy</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext"  value='{{result}}'>
            </div>
        </div><br/>

        <button type="submit" class="btn btn-success"><strong>Reset</strong></button>
    </form>
  </div>
</div>


